* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  padding: 5px;
  border-radius: 5px;
}

a.logo {
  /* To style the logo i.e., "WeDesign". */
  color: white;
  font-size: 25px;
  line-height: 80px;
  font-weight: bold;
}
.logo:hover {
  /* on hovering the logo Adding effects to it */
  cursor: pointer;
  color: #1b9bff;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  position: sticky; /* To keep the nav bar sticky,
                         even if the content the scrolled 
                         to different phases. */
  top: 0px; /*To keep the position sticky from top. */
  z-index: 3; /* To avoid the overlapping of other content. */
  /* height: 70px; */
  align-items: center;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
}

nav span,
a {
  color: antiquewhite;
  text-decoration: none;
}

nav ul {
  float: right;
}

nav ul li .active {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase; /* transforming the text to uppercase. */
}

.active:hover {
  background: #1b9bff;
  transition: 0.5s;
  top: 150px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

main {
  border: 5px solid green;
  background-color: white;
  width: 100%;
  min-height: 80.5vh;
}
.searchForm {
  position: relative;
  width: 50%;
  margin: auto;
  /* border: 1px solid red; */
  padding: 250px 0px 0px 0px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.searchForm .text {
  border: 3px solid black;
  border-radius: 30px;
  padding: 10px;
  width: 70%;
  line-height: 30px;
  font-size: medium;
}

.searchForm .text:hover {
  font-size: large;
  transition: 0.25s font-size ease-in-out;
}

.searchForm .submit {
  background-color: rgb(170, 170, 170);
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  /* line-height: 10px; */
  width: 15%;
  padding: 10px 15px;
  font-size: small;
}

.searchForm .submit:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: medium;
  transition: 0.15s font-size ease-in;
}

/* addBook.html styling */

.addBook {
  width: 60%;
  margin: auto;
  padding: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* border: 2px solid red; */
}

.addBook div {
  margin-bottom: 15px;
}

.addBook label {
  font-size: 24px;
}

.addBook input,
textarea {
  font-size: 20px;
  float: right;
  border: 2px solid black;
  border-radius: 5px;
  width: 60%;
}

.addBook textarea {
  padding: 20px;
}

.addBox {
  display: block;
  position: relative;
  top: 30px;
}

.addBox:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 5px;
}

/* deleteBook.html  styling*/
.deleteForm {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10%;
  /* border: 2px solid red; */
}

.deleteForm label {
  position: relative;
  font-size: 35px;
  left: 30%;
}

.deleteForm div {
  position: relative;
  left: 30%;
}

.deleteForm input {
  /* margin-top: 30px; */
  font-size: 20px;
  border: 3px solid black;
  border-radius: 5px;
  line-height: 30px;
  margin: 30px 15px 0px 0px;
}

/* .deleteNameSection{
    display: flex;
} */

.deleteName {
  width: 300px;
}

.deleteSubmit {
  width: 90px;
  padding: 5px;
}

.deleteSubmit:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 8px;
}

/* Filter By Price */
.priceFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.priceFilter div {
  margin-bottom: 15px;
}

.priceFilter label {
  margin-right: 30px;
  font-size: 24px;
}

.priceFilter input {
  font-size: 20px;
  float: right;
  border: 2px solid black;
  border-radius: 5px;
}

.filterSubmit {
  margin-top: 20px;
  width: 30%;
}

.filterSubmit:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Book Collection */

.bookInfo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 15px;
  width: 80%;
  margin: 10px auto;
}

.bookInfo li span {
  color: rgb(189, 40, 13);
}

/* Footer */
footer {
  background: black;
  color: white;
  /* height: 15vh; */
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer h3 {
  padding: 20px 10px;
}

footer hr {
  margin-bottom: 10px;
}

/* Error Message */

.errorMessage {
  color: black;
  width: 50%;
  margin: auto;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin-top: 200px;
}

@media only screen and (max-width: 650px) {
  .logo {
    display: flex;
    align-items: center;
  }

  nav ul li a {
    font-size: 16px;
  }
  .checkbtn {
    margin-left: 180px;
    width: 30px;
    height: 30px;
    display: flex;
  }
  nav ul {
    display: block;
    position: fixed;
    width: 50%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  /* To bring ul content inside the hamburger menu. */
  #check:checked ~ nav ul {
    right: 0;
  }
  .searchForm {
    width: 100%;
  }
  .addBook {
    width: 100%;
    margin: auto;
    padding: 10%;
    margin-top: 70px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .addBox:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 5px;
  }
  .deleteForm {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .deleteForm label {
    left: 0%;
  }
  .deleteForm div {
    left: 0%;
  }
  .deleteName {
    width: 90%;
  }
  .deleteSubmit {
    width: 30%;
    padding: 10px;
    margin-top: 20px;
  }
  .deleteSubmit:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 8px;
  }
}
